@import "./utils/styles.scss";

.app {
  width: px(1440);
  @extend .row;
  flex-wrap: wrap;

  .left-container {
    width: px(1067);
    @extend .column;
    flex-wrap: wrap;
    border-right: px(1) solid #D7D7D7;

    .header-container {
      width: 100%;
      height: px(59.5);
      border-bottom: px(1) solid rgba(215, 215, 215, 0.5);
    }

    .products-list-container {
      display: flex;
      width: 100%;
      flex: 1;
    }
  }

  .right-container {
    flex: 1;
    min-height: 50vw;
  }
}
